# Start the Minecraft server after an OS reboot
@reboot sleep 30 && /bin/su server -c '~/framework/script/init.sh'

# Reset and reboot the server every 24 hours (0 0 * * * / at 00:00)
0 0 * * * /bin/su server -c '~/framework/script/reset.sh' && /sbin/reboot --reboot
